body {
    user-select: none;
}

fieldset {
    padding-top: 2.5em;
    background: #d6cfca33;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 25px;
    border: 3px solid #733C19;
    padding-bottom: 7rem;
    margin-bottom: 5rem;
}

input {
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

label {
    padding:1rem;
}

textarea {
    border-radius: 1.5rem;
    padding: 2rem 2rem;
}

h2 {
    font-size: 2.7em
}

hr {
    width: 50%;
    color: #733C19;
    border: 0.1em solid #733C19;
}
.os-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    position: relative; /* Ajouter cette ligne */
    margin-bottom: -4em;
    margin-top: -4em;
}

.os {
    width: 40%;
    height: auto;
}

.os-title {
    position: absolute;
    top: 47%; /* Ajuste cette valeur pour le positionner correctement */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    width: 80%;
}


/* Assurez-vous que l'image et le titre sont alignés */
.os-container h2 {
    margin-top: 10px; /* Peut être ajusté pour centrer verticalement */
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    width: 80%;
}
.sex p {
    margin-right: 1rem;
}
.search p {
    margin-right: 1rem;
}
.image-upload img {
    cursor: pointer;
    width: 50%;
    padding-bottom: 3rem;
}
.group-fields {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
    gap: 20rem;
  }
  
  .left-group,
  .right-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .group-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15rem;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 2rem;
  }
  
  .sex,
  .search {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    gap: 1rem;
  }
  
  .sex label,
  .search label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.3rem 0;
  }
  .toggle-group {
    display: flex;
    gap: 1rem;
  }
  
  .toggle-button {
    background-color: #883b08;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .toggle-button.active {
    background-color: #D6532B;
    color: white;
  }
  
  .sex input {
    border-radius: 3rem;
  }
  .select {
    padding: 5rem;
    border-radius: 2rem;
  }
  .object {
    border-radius: 2rem;
  }

  .group-textareas {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding-bottom: 3em;
  }
  
  .group-textareas .bio,
  .group-textareas .passions {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40%;
  }
  
  .group-textareas textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
  }
  
  .toolbar {
    padding-top: 7rem;
  }

  .cta-button {
    font-size: 1.3em;
    text-decoration: none;
    background-color: #D6532B;
  }

/* Style pour la modal */
.modal {
    display: none; /* Initialement cachée */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* S'assurer que la modal est au-dessus des autres éléments */
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    width: 300px;
}

.loader {
    border: 8px solid #f3f3f3; /* Gris clair */
    border-top: 8px solid #3498db; /* Bleu */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

/* Animation pour le loader */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
