fieldset {
    padding: 5rem;
    background: #fcfcfc50; /* blanc avec transparence */
    backdrop-filter: blur(10px);         /* flou derrière */
    -webkit-backdrop-filter: blur(10px); /* compatibilité Safari */
    border-radius: 25px;
    border: 3px solid #733C19; /* optionnel, joli effet */
}

input {
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

label {
    padding:1rem;
}

textarea {
    border-radius: 1.5rem;
    padding: 2rem 2rem;
}

.sex p {
    margin-right: 1rem;
}
.search p {
    margin-right: 1rem;
}
.image-upload img {
    cursor: pointer;
    width: 50%;
    padding-top: 2rem;
}
.group-fields {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
    gap: 10rem;
  }
  
  .left-group,
  .right-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .group-checkboxes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 2rem;
  }
  
  .sex,
  .search {
    display: flex;
    flex-direction: row;
    max-width: 45%;
    gap: 1rem;
  }
  
  .sex label,
  .search label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.3rem 0;
  }

  .toggle-button {
    background-color: #883b08;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .toggle-button.active {
    background-color: #dd1515;
    color: white;
  }
  
  .sex input {
    border-radius: 3rem;
  }
  .select {
    padding: 5rem;
    border-radius: 2rem;
  }
  .object {
    border-radius: 2rem;
  }

  .group-textareas {
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-bottom: 2rem;
  }
  
  .group-textareas .bio,
  .group-textareas .passions {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40%;
  }
  
  .group-textareas textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
  }
  
  .toolbar {
    padding-top: 10rem;
  }