main {
    padding: 0;
    padding-bottom: 3rem;
}

main p {
    font-weight: 600;
}

.presentation {
    border: 4px solid #733C19;
    border-radius: 20px;
    padding: 1rem;
    background-color: #D7872D;
    margin-bottom: 1rem;
}

/*************************** SLIDER PHOTOS ****************************/

.ticker {
    width: 99%;
    overflow: hidden;
    background: #f0f0f0;    /* juste pour voir le cadre */
    border: 4px solid #733C19;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 2rem;
    margin-top: 0;
}

.ticker-track {
    display: flex;
    align-items: center; /* aligne toutes les images verticalement au centre */
    animation: tickerScroll 70s linear infinite;
}

.ticker-track img {
    margin: 0 2px;
    height: 90px; /* fixe une hauteur, largeur auto */
    object-fit: contain;
}

@keyframes tickerScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-500%);
    }
}

/*************************** FICHES PROFILS ****************************/

.dog-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.dog-card {
    text-align: center;
    width: 350px;
    font-family: sans-serif;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    border: 4px solid #733C19
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease;
}

.dog-card a:hover .image-container img {
    filter: brightness(80%); /* Assombrir l'image au survol */
    transform: scale(1.05); /* Légèrement zoomer au survol */
    transition: transform 0.3s ease, filter 0.3s ease;
  }

.dog-card a {
    text-decoration: none;
    color: #2e1f0e;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
    text-align: center;
}

.image-container:hover img {
    filter: brightness(60%);
    transform: scale(0.98);
}

.image-container:hover .overlay {
    opacity: 1;
}

.menu-photo {
    background-color: #D7872D;
    border: 4px solid #733C19;
    border-radius: 20px;
    padding-top: 1rem;
}

.titre-section {
    grid-area: 1/1/2/4;
}

/************************* SECTION INSCRIPTION **************************/
  
.inscription {
    background-color: #D7872D;
    padding-bottom: 2rem;
    border: 4px solid #733C19;
    border-radius: 15px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.inscription .deja {
    padding-top: 1rem;
    text-decoration: none;
    color: #2e1f0e;
    font-style: italic;
        margin-left: auto;
    margin-right: auto;
}

.inscription .deja:hover {
    text-decoration: underline;
    color: #f0f0f0e1;
}

.cta-button {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

/************************* TABLETTE **************************/

@media (max-width: 1024px) {
    .ticker {
        border-left: none;
        border-right: none;
        border-radius: 0px;
        width: 100%;
    }
    .menu-photo {
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }
    .presentation {
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }
    .inscription {
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }
  }

  /************************* MOBILE **************************/

@media (max-width: 780px) {
    .ticker {
        border-left: none;
        border-right: none;
        border-radius: 0px;
        width: 100%;
    }
    .dog-gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dog-card {
        width: 90%;
    }
    .nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        padding-left: 0;
        gap: 3rem;
    }
    .nav ul li {
        padding: 1rem;
        border-bottom: 1px solid #2e1f0e;
    }
  }

  /************************* TEST LOADER **************************/

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .os-image {
    width: 100px; 
    animation: rotate-and-move 3s ease-in-out infinite;
  }
  
  @keyframes rotate-and-move {
    0% {
      transform: rotate(0deg) translateY(0px);
    }
    10% {
        transform: rotate(0deg) translateY(20px);
      }
    25% {
      transform: rotate(0deg)  translateY(0);
    }
    100% {
      transform: rotate(1440deg);
    }
  }

/************************* TEST MENU BURGER **************************/