.container {
    padding: 1em 1em 0 1em;
}

/* Grid Layout */
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de largeur égale */
    gap: 1.5em; /* Espacement entre les cartes */
    padding-bottom: 1em;
}

.card {
    height: auto; /* La carte s'adapte à son contenu */
    border: 4px solid #733C19;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%; /* L'image occupe toute la largeur de la carte */
    height: 400px; /* La hauteur est ajustée proportionnellement */
    display: block; /* Évite les espaces blancs sous l'image */
    object-fit: cover; /* Remplit la carte sans déformation */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}