.container {
    padding: 1em;
}

.profile-card {
    cursor: pointer;
}

.card-hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* fond semi-transparent */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.profile-card:hover .card-hover-text {
    opacity: 1;
}

.card-hover-text h5 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.card-hover-text p {
    font-size: 0.9rem;
}

.profile-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* recadre automatiquement */
}